.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px;
    /* border: 2px solid red; */
}

.btnsDiv {
    display: grid;
    grid-template-columns: 20px 23px 20px 20px;
    grid-template-rows: 20px;
    margin-left: 8px;
    /* border: 2px solid green; */
}

.btnsDiv button {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 0px;
    /* padding-bottom: 17px; */
    background-color: #A4BDFF;
    color: black;
    border: 3px solid black;
}

.btnLeft {
        display: flex;
    justify-content: center;
    align-items: start;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.nDiv {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.btnRight {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.btnsDiv .btnDel {
    display: flex;
    justify-content: center;
    align-items: end;
    align-self: center;
    width: 15px;
    height: 15px;
    padding-bottom: 0.5px;
    padding-right: 0.5px;
    margin-left: 8px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: red;
}


