.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #ad55d8;
}

.container div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-bottom: 4px solid black;
}

.middleDiv {
    border-left: 4px solid black;
    border-right: 4px solid black;
}