.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #ad55d8;
}

.leftDiv, .middleDiv, .rightDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-bottom: 4px solid black;
}

.middleDiv {
    border-left: 4px solid black;
    border-right: 4px solid black;
}

.innerRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* border: 3px solid green; */
}

.inCart {
    width: 45px;
    text-align: center;
    padding: 6px;
    border: 3px solid #A4BDFF;
    border-radius: 50%;
    background-color: #B97CFB;
}

