.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    height: 85vh;
    color: #F8E3B9;
    /* border: 2px solid red; */
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 320px;
    width: 320px;
    border: 4px solid black;
    border-radius: 50%;
    background-color: #ad55d8;
}

.container button {
    height: 40px;
    width: 120px;
    margin-top: 25px;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 90px;
    background-color: #A4BDFF;
    color: black;
}

.container button:hover {
    cursor: pointer;
}