.colors{
    /* https://colorslurp.com/blog/purple-color-palette-ideas */
    color: #F8E3B9;
    color: #A4BDFF;
    color: #AB9BFF;
    color: #B97CFB;
    color: #ad55d8;
}

.container {
    margin: 15px;
}