.colors2{
    color: #F8E3B9;
    color: #A4BDFF;
    color: #AB9BFF;
    color: #B97CFB;
    color: #ad55d8;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-size: 25px;
    background-color: #AB9BFF;
    color: #F8E3B9;
}

:root a {
    color: #F8E3B9;
    text-decoration: none;
}

:root a:hover {
    color: #A4BDFF;
}
